<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>

    <appender name="RollingFileAppender_Dbg" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\OCR\ocr_debug.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50GB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5p %message%n" />
      </layout>
      <threshold value="DEBUG" />
    </appender>

    <appender name="RollingFileAppender_Inf" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\OCR\ocr_info.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="50GB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5p %message%n" />
      </layout>
      <threshold value="INFO" />
    </appender>

    <root>
      <appender-ref ref="RollingFileAppender_Dbg" />
      <appender-ref ref="RollingFileAppender_Inf" />
    </root>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>