<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpressMvvm" version="16.1.4.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.2.1" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net461" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net461" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net461" />
</packages>